POSTGRES_USER="d1stack"
POSTGRES_PASSWORD="d1stack"
POSTGRES_DB="d1stack"

PGADMIN_DEFAULT_EMAIL="setdefaultone@gmail.com"
PGADMIN_DEFAULT_PASSWORD="d1stack"

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"
